/*itallap konténer div */
#itallap {
	position:relative;
	margin: auto;
	padding:0px;
	
	background:#909090;
	
	width:80%;
	
	display: table;
	border-collapse: collapse;
}

/* Itallap felső menü */
#itallapMenuUp {
	
	position:relative;
	
	align:left;
	
	background-image:url('../img/itallapMenuUp.png');
	
	width:100%;
	height:49px;
	
}

#itallapSearchDiv {
	position:relative;
	left:10px;

	display: table-cell;
	vertical-align: middle;
	
	height:49px;
	
}

#itallapSearch {
	
	position:relative;
	padding-left:5px;
	
	border:0px;
	background: transparent;
	background-image:url('../img/itallapSearchInp.png');
	
	text-size:15px;
	text-transform:uppercase;
	font-family:verdana;
	font-weight:bold;
	color:#000;
	
	width:189px;
	height:32px;
	
	float:left;
	
}

#itallapSearchBut {
	
	position:absolute;
	left:204px;
	top:50%;
	margin-top:-18px;
	
	border:0px;
	background: transparent;
	background-image:url('../img/itallapSearchBt.png');
	
	width:35px;
	height:34px;
	
	cursor:pointer;
	
}

#itallapMenuSave {
	
	position:absolute;
	top:50%;
	margin-top:-15px;
	left:269px;
	
	background-image:url('../img/itallapFloppy.png');
	
	width:31px;
	height:31px;
	
	cursor:pointer;
	
}

#itallapMenuAdd {
	
	position:absolute;
	top:50%;
	margin-top:-15px;
	left:330px;
	
	background-image:url('../img/itallapAdd.png');
	
	width:30px;
	height:30px;
	
	cursor:pointer;
	
}

#itallapMenuFilter {
	
	position:absolute;
	top:50%;
	margin-top:-15px;
	left:390px;
	
	background-image:url('../img/itallapFilter.png');
	
	width:31px;
	height:30px;
	
	cursor:pointer;
}

/* Itallap Alsó menü */
#itallapMenuDown {
	
	position:relative;
	
	align:left;
	
	background-image:url('../img/itallapMenuDown.png');
	
	width:100%;
	height:55px;
	
}

.itallapTd1 {
	position:relative;
	float:left;
	
	line-height:13px;
	text-size:15px;
	text-transform:uppercase;
	font-family:verdana;
	font-weight:bold;
	color:#909090;
	
	border-right: 2px solid #909090;
	
	width: 12%;
	height:48px;
}

.itallapTd2 {
	position:relative;
	float:left;
	
	line-height:13px;
	text-size:15px;
	text-transform:uppercase;
	font-family:verdana;
	font-weight:bold;
	color:#909090;
	
	width: 12%;
}

/* Itallap kilistázás */
.itallapSor {
	position:relative;
	
	width:100%;
	border-bottom: 2px solid #000;
	display: table-row;
}

.sorTd {
	postion:relative;
	float:left;
	
	text-size:15px;
	text-transform:uppercase;
	font-family:verdana;
	font-weight:bold;
	color:#000;
	
	width:12%;
}

input[type="text"] {
	width:90%;
}

.itallapSelect{
	width:90%;
}

/* Itallap új termék sor */
#itallapNewMenu {
	
	position:absolute;
	top:49px;
	
	align:left;
	
	background-image:url('../img/itallapMenuDown.png');
	border-bottom:1px solid #FFF;
	
	width:100%;
	height:47px;
	
}

.newTermTd1 {
	postion:relative;
	float:left;
	
	line-height:13px;
	
	width:12%;
	height:47px;
}

#closeNew {
	cursor:pointer;
}

/* Filter */
#filterDiv {
	position: absolute;
	
	background-image:url('../img/buborek.png');
	
	width:460px;
	height:476px;
	
	top:51px;
	margin-left:405px;
	left: -230px;
	
}

.switch {
	position:relative;
	
	width:77px;
	height:24px;
	
	background-image:url('../img/switchBg.png');
	background-position:center center;
	background-repeat:no-repeat;
	
	margin-left:15px;
}

#switchEline {
	position:relative;
	
	width:100%;
	height:25px;
}

.switchBt {
	position:relative;
	
	width:50px;
	height:24px;
	
	background-image:url('../img/switchBt.png');
	background-position:center center;
	background-repeat:no-repeat;
	
	cursor:pointer;
}

.filterTitle {
	position:relative;
	
	margin-left:10px;
	
	text-size:15px;
	text-transform:uppercase;
	font-family:verdana;
	font-weight:bold;
	text-align:left;
	color:#d4d4d4;
}